{erl_opts, [debug_info]}.
{deps, []}.

{profiles,
 [
  {docs, [ {plugins,
            [
             {rebar3_edoc_chunks, {git, "https://github.com/erszcz/edoc.git", {branch, "master"}}}
            ]},

           {provider_hooks,
            [
             {post, [{compile, {edoc_chunks, compile}}]}
            ]} ]}
 ]}.
